.header {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    position: relative;
}
.logo {
  font-size: 22px;
}
.burger {
  background-image: url(./../icons/burger.svg);
  width: 42px;
  height: 42px;
}
.menu {
  display: none;
  position: absolute;
  right: 0px;
  background-color: white;
  padding: 30px 45px ;
  top: 52px;
  text-align: center;
  border-radius: 18px;
}
.burger:hover>.menu{
    display: block;
}
.menu>ul>li:first-child{
  color: orange;
}
.menu>ul>li:last-child{
  color: #34d399;
}
.menu>ul>li:nth-child(2){
  color: #38bdf8;
}
.menu>ul>li>a{
  display: inline-block;
  padding: 0.5em;
}

.tooltip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #FFFFFF transparent;
  top: -20px;
  left: 146px;
}
