.wellcome{
    background-image:linear-gradient(90deg, #FBED96,#ABECD6);
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    margin-top: 30px;
}
.wellcome>p{
  font-size: 22px;
}
.wellcome>h2{
    font-size: 32px;
    font-weight: 500;
}
.vector{
    display: inline-block;
    background-image:url(./../icons/vector.svg);
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: bottom;
    /* background-image:url(./../icons/vector.svg), linear-gradient(45deg, #40C4FF 81%, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #189FFF;
}
.contact{
    background-color:black;
    color: white;
    border-radius: 25px;
    padding: 1em 2em;
    margin-right: 15px;
}
.download>img{
    transform: translateY(4px);
    
}







@media screen and (min-width:992px){
    .wellcome>p{
        font-size: 44px;
      }
      .wellcome>h2{
        font-size: 60px;
        
    }
    
}